In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['id', 'value', 'cluster'])
df

Empty DataFrame
Columns: [id, value, cluster]
Index: []

In [4]:
df.loc[0] =  ['a1', 2, 0]
df.loc[1] =  ['a2', 3, 0]
df.loc[2] =  ['a3', 2, 0]
df.loc[3] =  ['a4', 3, 0]
df.loc[4] =  ['a1', 1, 1]
df.loc[5] =  ['a2', 1, 1]
df.loc[6] =  ['a3', 4, 2]
df.loc[7] =  ['a4', 6, 2]
df

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a4      3        0
4  a1      1        1
5  a2      1        1
6  a3      4        2
7  a4      6        2

In [27]:
idx_order ={'0': [0,1,2,3], '1': [4,5], '2': [6,7]}
splits = []

def con_centroids(group):
    splits.append(group)
    print "Name: ", group.name, "len: ", len(group)
    print group.index.values
    print group.index.values[-1]
    for column in group.columns:
        print list(group[column])
    return group[group.index != group.index.values[-1]]
df_update = df.groupby('cluster').apply(con_centroids)
df_update.reset_index(drop=True)

Name:  Name:  0.0 len:  4
[0 1 2 3]
3
['a1', 'a2', 'a3', 'a4']
[2.0, 3.0, 2.0, 3.0]
[0.0, 0.0, 0.0, 0.0]
Name:  1.0 len:  2
[4 5]
5
['a1', 'a2']
[1.0, 1.0]
[1.0, 1.0]
Name:  2.0 len:  2
[6 7]
7
['a3', 'a4']
[4.0, 6.0]
[2.0, 2.0]

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a1      1        1
4  a3      4        2

In [18]:
type(df_update)

pandas.core.frame.DataFrame

In [24]:
df = pd.DataFrame([1, 2, 2], columns = ['id', 'value', 'cluster'])

ValueError: Shape of passed values is (1, 3), indices imply (3, 3)

In [28]:
for df_split in splits:
    print df_split

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a4      3        0
   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a4      3        0
   id  value  cluster
4  a1      1        1
5  a2      1        1
   id  value  cluster
6  a3      4        2
7  a4      6        2

In [30]:
df_assemble = pd.concat(splits)
df_assemble.head()

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a4      3        0
0  a1      2        0

In [38]:
id_cluster = {}
for i, row in df_assemble.iterrows():
#     print row
    if type(row['id']) =
    for id_ in row['id']:
        print id_
        id_cluster[id_] = row['cluster']

a
1
a
2
a
3
a
4
a
1
a
2
a
3
a
4
a
1
a
2
a
3
a
4

In [40]:
type(type(row['id']))

type

In [37]:
id_cluster

{'1': 1.0, '2': 1.0, '3': 2.0, '4': 2.0, 'a': 2.0}

In [45]:
for i in df['id'].values:
    print i

a1
a2
a3
a4
a1
a2
a3
a4

In [46]:
import numpy as np
splits = np.array_split(df, 2)

In [48]:
for i, split in enumerate(splits):
    print i
    print df['id']

0
0    a1
1    a2
2    a3
3    a4
4    a1
5    a2
6    a3
7    a4
Name: id, dtype: object
1
0    a1
1    a2
2    a3
3    a4
4    a1
5    a2
6    a3
7    a4
Name: id, dtype: object

In [49]:
# define matrix

In [57]:
w, h = 2, 3
Matrix = [[0 for x in range(w)] for y in range(h)]
Matrix[0][1] = 2
Matrix[1][1] = 3

In [53]:
range(w)

[0, 1]

In [54]:
range(h)

[0, 1, 2]

In [58]:
Matrix

[[0, 2], [0, 3], [0, 0]]