In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['id', 'value', 'cluster'])
df

Empty DataFrame
Columns: [id, value, cluster]
Index: []

In [4]:
df.loc[0] =  ['a1', 2, 0]
df.loc[1] =  ['a2', 3, 0]
df.loc[2] =  ['a3', 2, 0]
df.loc[3] =  ['a4', 3, 0]
df.loc[4] =  ['a1', 1, 1]
df.loc[5] =  ['a2', 1, 1]
df.loc[6] =  ['a3', 4, 2]
df.loc[7] =  ['a4', 6, 2]
df

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a4      3        0
4  a1      1        1
5  a2      1        1
6  a3      4        2
7  a4      6        2

In [25]:
idx_order ={'0': [0,1,2,3], '1': [4,5], '2': [6,7]}

def con_centroids(group):
    print "Name: ", group.name, "len: ", len(group)
    print group.index.values
    print group.index.values[-1]
    for column in group.columns:
        print list(group[column])
    return group[group.index != group.index.values[-1]]
df_update = df.groupby('cluster').apply(con_centroids)
df_update.reset_index(drop=True)

Name:  Name:  0.0 len:  4
[0 1 2 3]
3
['a1', 'a2', 'a3', 'a4']
[2.0, 3.0, 2.0, 3.0]
[0.0, 0.0, 0.0, 0.0]
Name:  1.0 len:  2
[4 5]
5
['a1', 'a2']
[1.0, 1.0]
[1.0, 1.0]
Name:  2.0 len:  2
[6 7]
7
['a3', 'a4']
[4.0, 6.0]
[2.0, 2.0]

   id  value  cluster
0  a1      2        0
1  a2      3        0
2  a3      2        0
3  a1      1        1
4  a3      4        2

In [18]:
type(df_update)

pandas.core.frame.DataFrame

In [24]:
df = pd.DataFrame([1, 2, 2], columns = ['id', 'value', 'cluster'])

ValueError: Shape of passed values is (1, 3), indices imply (3, 3)